<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Поиск университетов</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/main.js" defer></script>
</head>
<body>

<header>
    Университетский портал
</header>

<nav>
    <a href="/">Главная</a>
    <a href="/">Поиск</a>
</nav>

<main>
    <div class="container-form">
        <h1>Поиск университетов</h1>

        <form id="search-form">
            <div class="subjects-container">
                <span class="subjects-label">Предметы</span>
                <button class="btn-dropdown">Открыть список</button>
                <ul class="subject-list hidden">
                    <li><input type="checkbox" id="biology" name="subjects[]" value="Биология"><label for="biology">Биология</label></li>
                    <li><input type="checkbox" id="geography" name="subjects[]" value="География"><label for="geography">География</label></li>
                    <li><input type="checkbox" id="history" name="subjects[]" value="История"><label for="history">История</label></li>
                    <li><input type="checkbox" id="computer_science" name="subjects[]" value="Информатика и ИКТ"><label for="computer_science">Информатика и ИКТ</label></li>
                    <li><input type="checkbox" id="foreign_lang" name="subjects[]" value="Иностранные языки"><label for="foreign_lang">Иностранные языки</label></li>
                    <li><input type="checkbox" id="literature" name="subjects[]" value="Литература"><label for="literature">Литература</label></li>
                    <li><input type="checkbox" id="social_science" name="subjects[]" value="Обществознание"><label for="social_science">Обществознание</label></li>
                    <li><input type="checkbox" id="russian" name="subjects[]" value="Русский язык"><label for="russian">Русский язык</label></li>
                    <li><input type="checkbox" id="math" name="subjects[]" value="Профильная математика"><label for="math">Профильная математика</label></li>
                    <li><input type="checkbox" id="physics" name="subjects[]" value="Физика"><label for="physics">Физика</label></li>
                    <li><input type="checkbox" id="chemistry" name="subjects[]" value="Химия"><label for="chemistry">Химия</label></li>

                </ul>
            </div>
            <button type="submit">Искать</button>
        </form>


        <div class="error-box" id="error-box" style="display: none;"></div>
    </div>

    <div class="container-results">
        <h2>Результаты поиска:</h2>
        <div id="results"></div>
    </div>
</main>

</body>
</html>
